name: Build Flet APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Flet
        run: |
          pip install flet --upgrade

      - name: Build APK
        run: |
          # Теперь настройки подтянутся автоматически из flet.yaml
          flet build apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: LoliGram-Release
          path: build/apk/*.apk
